@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  background: #1f1f1f;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #1f1f1f;
}

body {
  margin: 0;
  background: #1f1f1f;
  color: #f7f5f0;
}

a {
  text-decoration: none;
}
